@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.weather-card {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
.weather-card img {
  display: block;
  margin: auto;
  width: 50%;
  margin-top: 35px;
}

.temperature {
  font-size: 40px;
  font-weight: 700;
}

.title {
  font-size: 30px;
  font-weight: 400;
}
